
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Requests can be read by any authenticated user.
    // Requests can only be created, updated, or deleted by the user who owns them.
    match /requests/{requestId} {
      allow read: if request.auth != null;
      allow write: if request.auth.token.email == resource.data.user;
    }

    // Users can only manage their own favorites.
    match /favorites/{favoriteId} {
      // favoriteId is composed of userEmail_materialCode
      allow read, write: if request.auth != null && request.auth.token.email == split(favoriteId, '_')[0];
    }
  }
}
